html, body{
  display:block;
  margin: 0;
  height:100%;
}

div{
  margin: 0;

}

.middle-container{
  background-color:#6c7b95;
  height:30%;

}

.top-container {
  background-color: #fdeced;

}

.bottom-container{
  background-color: #c7f0db;

  height:60%;
}

.footer{
  text-align:center;
  height:5%;
}

.introduction{
  text-align:center;
}
