body{
  display:block;
  margin: 0;
}

div{
  margin: 0;

}

h1{
  margin-top: 0;
  margin-bottom: 0;
}

#middle-containe asdf
` 9621r{


}


#bottom-container{


}

.menu{
  background-color: BLUE;
}
